@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard Variable';
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url('./asset/font/PretendardVariable.woff2') format('woff2-variations');
}

/* 사용자 정의 유틸리티 추가 */
@layer utilities {
  /* input default style제거 */
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

body {
  font-family: 'Pretendard Variable';
}
